{% extends "base.html" %}



{% block content %}
<div class="float-container">
  </br>
  <form action="/teste" METHOD="post">

    <input type="text" placeholder="DIGITE AQUI" name="name">
    <input type="submit" value="Add name" class="btn btn-secondary">
  </form>

</div>

  <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo"
                        > Editar</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inserir Ocorrencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="mb-3">
        <form action="/teste" METHOD="post">
        <div>
          <input type="text"
                 class="form-control"
                 aria-label="Default"
                 aria-describedby="inputGroup-sizing-default"
                 placeholder="Digite aqui..." name="name">
        </div>
        <br>
        <div>
          <input type="submit" value="Incluir" class="btn btn-secondary">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}