{% extends "base.html" %}

{% block content %}
<div class="float-container" id="painel_parte_superior">

    <div class= "float-child0  btn-group" role="group" aria-label="Basic checkbox toggle button group" id="painel">
    <span  class="border rounded p-1">
         {% include "tracking_kpi.html" %}
    </span>
</div>

        <br> <br>
<div class= "float-child1  btn-group" role="group" aria-label="Basic checkbox toggle button group" id="filtro">
    <span  class="border rounded p-1">
        {% include "tracking_pesquisa.html" %}
    </span>
</div>


<div  class="float-child2 btn-group" role="group" aria-label="Basic checkbox toggle button group" id="resumo">
    <span  class="border rounded p-1">
        {% include "tracking_resumo.html" %}
    </span>
</div>

</div>
    <div class="float-child3" id="tracking">
        {% include "tracking_tabela.html" %}
</div>

 <!--
<div class="float-conteiner"  id="geral" >

        <div class="float-child1" style="margin-right:-10px " id="lateral">
             </label><input type="checkbox"><label>Transportador</label><br>
             </label><input type="checkbox"><label>Doc</label><br>
             </label><input type="checkbox"><label>Cod_Cli</label><br>
             </label><input type="checkbox"><label>Destinatario</label><br>
             </label><input type="checkbox"><label>Municipio</label><br>
             </label><input type="checkbox"><label>UF</label><br>
             </label><input type="checkbox"><label>Curva</label><br>
             </label><input type="checkbox"><label>Volume</label><br>
             </label><input type="checkbox"><label>Peso Bruto</label><br>
             </label><input type="checkbox"><label>Val_Doc</label><br>
             </label><input type="checkbox"><label>Data NF</label><br>
             </label><input type="checkbox"><label>Exped</label><br>
             </label><input type="checkbox"><label>Leadtime</label><br>
             </label><input type="checkbox"><label>Prev Entrega</label><br>
             </label><input type="checkbox"><label>Agend</label><br>
             </label><input type="checkbox"><label>Dt Agenda</label><br>
             </label><input type="checkbox"><label>Dt Reagenda</label><br>
             </label><input type="checkbox"><label>Dta Entrega</label><br>
             </label><input type="checkbox"><label>Status</label><br>
             </label><input type="checkbox"><label>Prazo</label><br>
             </label><input type="checkbox"><label>Obs</label><br>
    </label><input type="checkbox"><label></label><br>
    </div>
    -->

{% endblock %}