{% extends "base.html" %}
{% block content %}


<div class="row row-cols-1 row-cols-md2">
    <div>
        <table>
            <tr class="cab_tabela">
               <th> </th>
                <th>EMPRESA</th>
                <th>UF</th>
                <th>REGIAO</th>
                <th>AGENDA</th>
                <th>MACRO CANAL</th>
                <th>VENDEDOR</th>
                <th>TRANSPORTADORA</th>
                <th>MES NF</th>
                <th>MES IND</th>
                <th>PROCESSA</th>

            </tr>
            <tr  class="cab_tabela">
                <th> </th>
                <td> {{ d_empresa }} </td>
                <td> {{ d_uf }}</td>
                <td>{{ d_regiao }}</td>
                <td>{{ d_agend }}</td>
                <td>{{ d_macro_canal }}</td>
                <td>{{ d_vendedor }}</td>
                <td>{{ d_transportadora }}</td>
                <td>{{ d_mes_nf }}</td>
                <td>{{ d_mes_ind }}</td>
                <td> {{ d_processa}} </td>
            </tr>
        </table>

    </div>

    <div class="col-sm">
        GRID 0
         <!-- <div style="width:50%;max-width:400px">    PARA LIMITAR A ÁREA DA DIV ONDE ESTÁ  GRÁFICO-->
        <div>
            {{ graf1  | safe }}
        </div>
    </div>

    <div class="col-sm">
        GRID 1
        <div>
            {{ graf2 | safe }}
        </div>
    </div>

    <div class="col">
        GRID 2
        <div>
            {{ graf3 | safe }}
        </div>
    </div>

     <div class="col">
        GRID 3
        <div>
           {{ graf4 | safe }}
        </div>
    </div>

     <div class="col">
        GRID 3
        <div>
           {{ graf5 | safe }}
        </div>
    </div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



</div>

{% endblock %}