{% extends "base.html" %}
{% block content %}

<div class="row row-cols-1 row-cols-md2">
    <div>
        <table>
            <tr  class="cab_tabela">
                <th> </th>
                <td> {{ d_empresa }} </td>
                <td> {{ d_uf }}</td>
                <td>{{ d_regiao }}</td>
                <td>{{ d_agend }}</td>
                <td>{{ d_macro_canal }}</td>
                <td>{{ d_vendedor }}</td>
                <td>{{ d_transportadora }}</td>
                <td>{{ d_mes_nf }}</td>
                <td>{{ d_mes_ind }}</td>
                <td> {{ d_processa}} </td>
            </tr>
        </table>

    </div>

    <div class="col-sm">
        GRID 0
        <div style="width:50%;max-width:400px">
            {{ graf1 | safe }}

        </div>
    </div>


    <div class="col-sm">
        GRID 1
        <div style="width:50%;max-width:400px">
            {{ graf2 | safe }}
        </div>
    </div>

    <div class="col-sm">
        GRID 2
        <div  style="width:50%;max-width:400px">
        </div>
    </div>

    <div class="col-sm">
        GRID 3
        <div  style="width:50%;max-width:500px">
        </div>
    </div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



</div>


{% endblock %}