{% extends "base.html" %}

{% block content %}


    <h1>Hello!!</h1>

    <p> Agora vai!!</p>

    <p> My name is {{ first_name }}</p>
    <p> {{ stuff|safe }}</p>
    <!-- safe: executa a tag passada no cod python -->
    <!-- striptags: não considera as tags passadas no cod... isso pode ser util caso haja algum texto passado pelo usuario
    e ele esteja tentando passar cods html -->

    <p> {{ equipe|striptags }}</p>
     cont=0

    {% for name in equipe %}

        <p> {{ cont }} - {{ name }}</p>
    {% endfor %}
    <p><strong> Posição</strong> </p>
    {{ equipe.1}}

{% endblock %}
