<div class="collapse collapse-vertical" id="ocultar_backlog">
    <div class="btn-group">
        <button type="button" class="btn btn-light"> OTD: {{ '%0.1f' % analisa_prazo[35] }} %</button>

        <button  type="button" class="btn btn-info"> D+4 : <b>{{ analisa_prazo[5] }} NF(S)</b> </button>
        <button  type="button" class="btn btn-info"> D+3 : <b>{{ analisa_prazo[6] }} NF(S)</b> </button>
        <button type="button" class="btn btn-info"> D+2 : <b>{{ analisa_prazo[7] }} NF'S</b> </button>
        <button type="button" class="btn btn-warning"> D+1 :<b> {{ analisa_prazo[8] }} NF'S</b></button>
        <button type="button" class="btn btn-warning"> D+0!<b>{{ analisa_prazo[9] }} NF'S</b></button>
        <button type="button" class="btn btn-danger"> EM ATRASO:<b>{{ analisa_prazo[10] }} NF'S</b></button>
    </div>
</div>